main {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

main section {
    margin: 100px auto;
    width: 100%;
    background-color: var(--gray200);
}

.container-img {
    display: none;
}

.container-sectors {
    width: 100%;
    background-color: var(--brand100);
}

.list-sectors {
    width: 80%;
    height: 52.18px;
    text-align: center;
    font-size: 18px;
    color: var(--gray400);
    border: none;
    background-color: var(--brand100);
    outline: none;
}

.container-list {
    overflow: auto;
    background-color: var(--gray350);
}

::-webkit-scrollbar {
    width: 0;
}

.list-companies {
    width: 241px;
    margin: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.list-companies li {
    background-color: var(--gray400);
    box-shadow: 0px 1px 0px 0px var(--brand100);
}

.container-list-data {
    width: 211px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
}

.container-list-data h3 {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.container-list-data div {
    max-width: 40%;
    margin-top: 10px;
    padding: 5px 0;
    border: 1px solid var(--brand100);
    border-radius: 16px;
}

.p-sector {
    color: var(--brand100);
    text-align: center;
}



@media(min-width: 700px) {

    main {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    main section {
        width: 35%;
        height: 743px;
        display: flex;
        flex-direction: column;
    }


    .button-menu {
        display: none;
    }

    .container-img {
        display: block;
        width: 50%;
        max-width: 550px;
    }

    .container-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-main-select {
        width: 50%;
        max-width: 550px;
    }

    .container-sectors {
        width: 100%;
        height: 100%;
    }

    .container-list {
        height: 90%;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    .list-companies {
        width: 90%;
        height: 100%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;

    }

    .list-companies li {
        width: 100%;
        height: 134.99px;
        margin: 0 auto;
    }

    .container-list-data h3 {
        margin-top: -15px;
        margin-bottom: 30px;
    }

}